contracts-hardhat/artifacts/
contracts-hardhat/cache/
contracts-hardhat/node_modules/
contracts-hardhat/typechain-types/
issuer-api/__pycache__/
issuer-api/tests/__pycache__/
issuer-api/.pytest_cache/
k8s-webhook/vc-webhook
